@media (width >= 1024px) {
  .QROnlyClass {
    width: 60% !important;
  }
  .inner-frame {
    width: 100% !important;
    height: 100vh !important;
  }
  .cp2 {
    display: none;
  }

  .hero-content .characters {
    width: 360px !important;
    height: 320px !important;
    margin-top: 60px !important;
  }
  .game-list {
    gap: 10px !important;
    justify-content: center !important;
  }
  .recommended {
    justify-content: start !important;
  }

  .hrtext {
    margin-top: 7px !important;
    width: 50% !important;
  }

  .come2winlogo {
    width: 200px !important;
  }
  .customDropdown {
    display: none !important;
  }
  .right-div2 {
    height: 12vh !important;
    bottom: 0% !important;
  }
  .right-div {
    height: 14vh !important;
    bottom: 0% !important;
  }

  /* User Profile */
  .user-profile-inner {
    width: 95% !important;
    padding: 20px !important;
    height: auto !important;
  }
  .image-balance img {
    width: 200px !important;
    height: 150px !important;
    justify-content: center;
    align-items: center !important;
  }
  .card-analyst {
    width: auto !important;
    height: auto !important;
    gap: 20px;
    padding: 30px;
  }
  .card-analyst img {
    width: 50px !important;
  }
  .card-analyst span {
    font-size: 0.7rem !important;
  }
  .analysis {
    gap: 10px !important;
  }

  .profile-info {
    gap: 10px !important;
  }
  .savebuttons {
    gap: 30px !important;
  }
  .hrtext {
    width: 40% !important;
  }

  .hrtext img {
    width: 190px !important;
    height: 130px !important;
    margin: 0 !important;
  }

  .footer {
    gap: 0 !important;
  }
  .imageHolder {
    font-size: 2.5rem !important;
    width: 90px !important;
    height: 90px !important;
  }
  .lotto-top {
    padding: 10px !important;
    padding-bottom: 50px !important;
  }
  .lottery-content-upper {
    width: 90% !important;
  }
  .prizes-mech {
    flex-wrap: wrap !important;
    gap: 30px !important;
  }
  .frame-header {
    top: -5.3% !important;
  }

  .hero-section {
    flex-direction: column;
    height: auto !important;
  }

  .carousel-parent {
    height: 90vh !important;
  }

  .hrtext-1 img {
    width: 350px !important;
    margin: 0 auto !important;
  }
}

@media (width >= 1280px) {
  .chars {
    width: 560px !important;
    height: 520px !important;
    margin-top: 120px !important;
  }
  /* .hero-section {
    min-height: 90vh !important;
  }

  .carousel-parent {
    height: auto !important;
  }

  .hrtext-1 img {
    width: 250px !important;
    margin: 0 auto !important;
  }

  .chars {
    width: 500px !important;
    height: 390px !important;
    margin-top: 60px !important;
  } */

  .come2winlogo {
    width: 100px !important;
  }
  .game-list {
    gap: 20px !important;
  }

  .image-balance img {
    width: 250px !important;
    height: 220px !important;
  }

  .card-analyst img {
    width: 100px !important;
  }
  .upper-profile {
    justify-content: space-around !important;
  }
  .card-analyst span {
    font-size: 1.3rem !important;
  }
  .analysis {
    gap: 10px !important;
  }

  .profile-info {
    gap: 50px !important;
    width: 75% !important;
  }
  .lottery-content-upper {
    width: 60% !important;
  }
  .frame-header {
    top: -8.1% !important;
  }
}

@media (width >= 1920px) {
  .chars {
    width: 560px !important;
    height: 520px !important;
    margin-top: 80px !important;
  }

  .game-list {
    gap: 20px !important;
  }
  .lottery-content-upper {
    width: 50% !important;
  }
}

@media only screen and (max-width: 1280px) and (min-height: 0px) and (max-height: 800px) {
  .chars {
    width: 460px !important;
    height: 400px !important;
    margin-top: 80px !important;
  }
}

@media only screen and (width = 1024px) and (height = 1366px) {
  .chars {
    width: 460px !important;
    height: 400px !important;
    margin-top: 190px !important;
  }
  .hrtext-1 {
    margin-top: 50px !important;
    width: 100% !important;
  }
  .hero-section {
    min-height: 70vh !important;
  }
  .carousel-parent {
    height: auto !important;
  }
  .hero-content-1 {
    padding-bottom: 50px !important;
  }
}
